@model UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="ProfileInfoConteinerCl">
        <div class="ProfileInfoCl">
            <img src="@Model.User.Avatar" />
            <br />
            <br />
            <label>@Model.User.Login</label>
            <br />
            <label>@Model.User.Email</label>
            <br />
            <label>@Model.User.RegistrationDate</label>
        </div>

        <form asp-controller="post" asp-action="add" class="PostCreatContCl">
            <input asp-for="@Model.PostName" placeholder="Post name"/>
            <br />
            <textarea asp-for="@Model.PostText" placeholder="Text"/>
            <br />
            <input type="submit" value="Add post"/>
        </form>
    </div>

    <hr />

    @*<div class="PostsCl" id="postsId">
        @foreach (var p in Model.User.Posts)
        {
            <h2>p.PostName</h2>
            <br/>
            <label>p.PostDate</label>
            <br/>
            <label>p.PostPreview</label>
            <br/>
            <hr/>
        }
    </div>*@

    @Html.Partial("_PostsPartial")

</div>

<script>
    function addPost()
    {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function ()
        {
            if (this.readyState == 4 && this.status == 200)
            {
                document.getElementById("postsId").innerHTML += this.responseText;
            }
        };
        xhttp.open("post", "/post/addPost", true);
        xhttp.send();
    }
</script>