@model UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="ProfileInfoConteinerCl">
        <div class="ProfileInfoCl">
            <img src="@Model.User.Avatar" />
            <br />
            <br />
            <label>@Model.User.Login</label>
            <br />
            <label>@Model.User.Email</label>
            <br />
            <label>@Model.User.RegistrationDate</label>
        </div>

        <form onsubmit="addPost()" id="NewPostElemId" method="post" class="PostCreatContCl">
            <input asp-for="@Model.PostName" placeholder="Post name" />
            <br />
            <br />
            <textarea asp-for="@Model.PostText" placeholder="Text"></textarea>
            <br />
            <br />
            <input type="submit" value="Add post" />
        </form>
    </div>

    <hr />

    <div class="PostsCl" id="postsId">
        @foreach (var p in Model.UserPosts)
        {
            <a asp-controller="Post" asp-action="GetPost" asp-route-id="@p.Id">
                <h2>@p.PostName</h2>
            </a>
            <br />
            <label>@p.PostDate</label>
            <br />
            <p>@p.PostPreview</p>
            <hr />
        }
    </div>

    @Html.Partial("~/Views/Post/_PostsPartial.cshtml", new Post())

</div>

<script>
    function addPost() {
        event.preventDefault();
        var xhttp = new XMLHttpRequest();

        var post = document.getElementById('NewPostElemId');
        var sendElem = { postName: post.PostName.value, postText: post.PostText.value };

        xhttp.onreadystatechange = function () {

            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('postsId').innerHTML += this.responseText;

                post.PostName.value = '';
                post.PostText.value = '';
            }
        };

        xhttp.open('post', '/post/addPost', true);
        xhttp.setRequestHeader('Content-type', 'text/json');
        xhttp.send(JSON.stringify(sendElem));
        console.log(xhttp);
    }

</script>