@model UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="ProfileInfoConteinerCl">
        <div class="ProfileInfoCl">
            <img src="@Model.User.Avatar" />
            <br />
            <br />
            <label>@Model.User.Login</label>
            <br />
            <label>@Model.User.Email</label>
            <br />
            <label>@Model.User.RegistrationDate</label>
        </div>

        <form onsubmit="addPost()" id="NewPostElemId" method="post" class="PostCreatContCl">
            <input asp-for="@Model.PostName" placeholder="Post name" />
            <br />
            <br />
            <textarea asp-for="@Model.PostText" name="PostText" placeholder="Text"></textarea>
            <br />
            <br />
            <input type="submit" value="Add post" />
        </form>
    </div>

    <hr />

    <div class="PostsCl" id="postsId">
        @foreach (var p in Model.UserPosts)
        {
            <h2>p.PostName</h2>
            <br />
            <label>p.PostDate</label>
            <br />
            <label>p.PostPreview</label>
            <br />
            <hr />
        }
    </div>

    @Html.Partial("~/Views/Post/_PostsPartial.cshtml", new Post())

</div>

<script>
    function postElem(postName, postText) {
        this.postName = postName;
        this.postText = postText;
    }

    function addPost() {
        event.preventDefault();
        var xhttp = new XMLHttpRequest();

        var post = document.getElementById("NewPostElemId");
        var sendElem = { postName: post.PostName.value, postText: post.PostText.value };

        console.log("1");
        xhttp.onreadystatechange = function () {
            console.log("2");

            if (this.readyState == 4 && this.status == 200) {
                console.log("3");
                document.getElementById("postsId").innerHTML += this.responseText;
            }
        };

        console.log("4");
        xhttp.open("post", "/post/addPost", true);
        xhttp.setRequestHeader("Content-type", "text/json");
        console.log("5");
        xhttp.send(JSON.stringify(sendElem));
    }
</script>