@model UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="ProfileInfoConteinerCl">
        <div class="ProfileInfoCl">
            <img src="@Model.User.Avatar" />
            <br />
            <br />
            <label>@Model.User.Login</label>
            <br />
            <label>@Model.User.Email</label>
            <br />
            <label>@Model.User.RegistrationDate</label>
        </div>

        <form onsubmit="addPost()" method="post" class="PostCreatContCl">
            <input asp-for="@Model.PostName" placeholder="Post name" />
            <br />
            <br />
            <textarea asp-for="@Model.PostText" placeholder="Text"></textarea>
            <br />
            <input type="submit" value="Add post" />
        </form>
    </div>

    <hr />

    <div class="PostsCl" id="postsId">
        @foreach (var p in Model.UserPosts)
        {
            <h2>p.PostName</h2>
            <br />
            <label>p.PostDate</label>
            <br />
            <label>p.PostPreview</label>
            <br />
            <hr />
        }
    </div>

    @Html.Partial("~/Views/Post/_PostsPartial.cshtml", new Post())

</div>

<script>
    function addPost() {
        event.preventDefault();
        console.log("1");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            console.log("2");
            console.log(this.status);
            if (this.readyState == 4 && this.status == 200) {
                console.log("3");
                document.getElementById("postsId").innerHTML += this.responseText;
            }
        };
        xhttp.open("post", "/post/addPost", true);
        xhttp.send();
    }
</script>