<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css" asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
    </environment>

    <link rel="stylesheet" type="text/css" href="~/styles.css" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="headerCl">
            <a asp-controller="post" asp-action="all" class="MainPageImgCl">
                <img src="~/logo-habrahabr.png" />
            </a>

            <div class="AuthWork">
                @if (ViewData["isAuth"] != null && (bool)ViewData["isAuth"])
                {
                    <a asp-controller="user" asp-action="goToProfile" class="GetUserProfileCl">
                        <img src="@ViewData["UserAvatar"]" class="AvatarImg" />
                    </a>

                    <a asp-controller="user" asp-action="logout" class="LogoutCl">Logout</a>

                    @*<img src="@ViewData["UserAvatar"]" class="AvatarImg" />
                        <select>
                            <option>
                                <a asp-controller="user" asp-action="goToProfile">Profile</a>
                            </option>
                            <option>
                                <a asp-controller="user" asp-action="logout">Logout</a>
                            </option>
                        </select>*@
                }
                else
                {
                    <div class="navbarClass">
                        <a asp-controller="user" asp-action="login" class="LoginCl">Login</a>

                        <a asp-controller="user" asp-action="register" class="RegisCl">Registration</a>
                    </div>
                }
            </div>
        </div>

    </header>

    <hr />

    <div class="BodyCl">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
