@model List<Post>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="PostsCl">
    @foreach (var p in Model)
    {
        <a asp-controller="Post" asp-action="GetPost" asp-route-id="@p.Id">
            <h2>@p.PostName</h2>
        </a>
        <br />
        <a asp-controller="User" asp-action="GetUser" asp-route-id="@p.User.Id">
            <img src="@p.User.Avatar" title="@p.User.Login" />
        </a>
        <label>@p.PostDate</label>
        <br />
        <label>@p.PostPreview</label>
        <br />
        <hr />
    }
</div>